*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(85, 136, 10, 0.733);
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: pink;
    color: rgba(85, 136, 10, 0.733);
    padding: 10px 0;
    height: 10vh;
    border-radius: 10px;
}

.img {
    height: 100%;
    margin-left: 20px;
    height: 8vh; 
    border-radius: 50%; 
}

main {
   display: flex;
   flex-direction: column;
   padding: 20px;
   text-align: center;
   min-height: 75vh;
   background-color:rgba(255, 219, 12, 0.733);
   border-radius: 10px;
} 

main .contenedor-juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
}

main .contenedor-juegos .juego {
    width: 200px;
    height: 200px;
    border: 10px solid rgb(231, 73, 21);
    background-color: aqua;
    border-radius: 8px;
}

#juego1 {
    background-image:url('ta-te-ti.png');
    background-size: cover;
    background-position: center;
}

#juego2 {
    background-image:url('el\ ahorcado.png');
    background-size: cover;
    background-position: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: pink;
    color: rgba(85, 136, 10, 0.733);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

footer .redes a {
    color: rgba(85, 136, 10, 0.733);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 10px;
}

footer .redes a img {
    width: 16px;
}