@font-face {
    font-family: fuente;
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
}
body{
    background-color: #4A70A9;
}

h1{
    font-family: fuente;
    color: orangered;
}
button {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 20px;
}

.container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
}

.audio{
    text-align: right;
}