@font-face {
    font-family: fuente;
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
}

h1{
    font-family: fuente;
}

button {
    width: 300px;
    height: 300px;
    background-color: yellow;
}

.container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
}